.vscode
node_modules
src/
webview-src/
common-src/
scripts/
out/test
out/ts
tsconfig.json
tsconfig-webview.json
webpack.config.js
test.rb
*.zip
*.vsix
DEVELOPMENT.md
CHANGELOG.md
.eslintignore
.gitignore
.prettierignore
openapitools.json
tsconfig.base.json
update-api.sh