<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'none'; font-src {{cspSource}}; style-src {{cspSource}} https://* 'unsafe-inline'; img-src 'self' data:; script-src 'nonce-{{nonce}}';"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script nonce="{{nonce}}" type="module" src="{{webviewUiToolkitJsUri}}"></script>
    </head>
    <body>
        <div id="eventsHeader" style="display: flex; justify-content: center; font-weight: bold"></div>
        <vscode-data-grid id="eventDetails" aria-label="Auxon Details Panel: Events"></vscode-data-grid>
        <div id="timelinesHeader" style="display: flex; justify-content: center; font-weight: bold"></div>
        <vscode-data-grid id="timelineDetails" aria-label="Auxon Details Panel: Timelines"></vscode-data-grid>
        <div id="interactionsHeader" style="display: flex; justify-content: center; font-weight: bold"></div>
        <vscode-data-grid id="interactionDetails" aria-label="Auxon Details Panel: Interactions"></vscode-data-grid>
        <script nonce="{{nonce}}" type="text/javascript" src="{{detailsPanelJsUri}}"></script>
    </body>
</html>
